<div id="wrapper">
    <app-header></app-header>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="center_div ">
                <br>
                <form #signUpForm="ngForm" class="well " (ngSubmit)="registerUser(signUpForm.value)">

                    <h2 class="text-left" style="color:white;">Email Verification mail has been sent please verify your Account..</h2>

                </form>
            </div>
            <!-- card.// -->


        </div>
    </div>
</div>