<div id="wrapper">
    <app-header></app-header>
    <div class="back">

        <div class="hometext my-animate-zoom" style="font-size:10px"><span class="heading">Welcome to ShipMe</span><br><span class="heading2">We make shipping big stuff cheap and easy by helping<br> customers directly connect with providers who have extra truck space.</span><br><br><a href="#" style="width: 50px;"
                [routerLink]="['/customer/shipment/create']" class="tbutton my-text-black my-button">Get a Free Qoutes</a>
            <a [routerLink]="['/customer/shipment/create']" class=" tbutton my-text-black my-button ">Become a Transporter</a><br><br><br></div>
    </div>
    <div class="my-center details my-row " style="background-color: rgba(255,255,255,0.6); height: 200px;">
        <div class="my-third my-animate-fading ">
            <p class="Count">7</p>
            <span>Customers</span>
        </div>
        <div class="my-third my-animate-fading ">
            <p class="Count">8</p>
            <span>Transporters</span>
        </div>
        <div class="my-third my-animate-fading ">
            <p class="Count">15</p>
            <span>Listing</span>
        </div>
    </div>
    <div class="back2 ">
        <div class="my-center my-padding-32 ">
            <p class="myhead ">ShipMe</p>
        </div>
        <div class="my-row ">
            <div class="my-third aboutus ">
                <div class="backface ">
                    <p class="heads ">Get Quotes
                    </p>
                    <p class="info ">Here you can get Quotes to Any Transporter, Anytime and Anywhere.</p>
                </div>
                <div class="frontface ">
                    <p class="heads "><i class="fa fa-table "></i>
                    </p><br><br>
                </div>
            </div>
            <div class="my-third aboutus ">
                <div class="backface ">
                    <p class="heads ">Take Shipment
                    </p>
                    <p class="info ">Here you can take any type of Shipment, Anytime Anywhere.</p>
                </div>
                <div class="frontface ">
                    <p class="heads "><i class="fa fa-truck "></i>
                    </p><br><br>
                </div>
            </div>
            <div class="my-third aboutus ">
                <div class="backface ">
                    <p class="heads ">Add Articles
                    </p>
                    <p class="info ">Here you can read or give Reviews for Transporters Anytime Anywhere.</p>
                </div>
                <div class="frontface ">
                    <p class="heads "><i class="fa fa-thumb-tack "></i>
                        <p><br><br>
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>
    <div class="my-padding-32 my-center ">
        <p class="myhead my-text-black ">Get in touch with Us</p>
        <br>
        <div class="social ">
            <div class="my-quarter ">
                <img src="assets/images/fb.png "><br>
                <p>Facebook</p>
            </div>
            <div class="my-quarter ">
                <img src="assets/images/insta.jpg "><br>
                <p>Instagram
            </div>
            <div class="my-quarter ">
                <img src="assets/images/lnkd.png "><br>
                <p>Linkedin</p>
            </div>
            <div class="my-quarter ">
                <img src="assets/images/tw.png "><br>
                <p>Twitter</p>
            </div>
        </div>
    </div>
    <div class="my-bar my-padding-32 myfooter my-text-white ">
        <div class="my-third content ">
            <h3>About Us</h3>
            <br>
            <div class="about ">
                <p>We Provide a plateform through which you can place your shipment and deliver the shipment.<br>By utilising spare capacity of vehicles running on the road, ShipMe helps reduce the number of otherwise wasteful journeys needed to transport
                    the item.</p>
            </div>
        </div>
        <div class="my-third content ">
            <h3>Contact Us</h3>
            <br>
            <div class="about "><i class="fa fa-envelope-square my-text-light-green my-large "></i> shipme@gmail.com<br><br><i class="fa fa-phone my-text-light-green my-large "></i> +91 9198238742
            </div>
        </div>
        <div class="my-third content ">
            <h3>Our Team</h3>
            <br>
            <div class="about ">
                Name : Abhishek Mavani<br> Contact : 9105689792<br/><br/> Name : Kevin Jivani<br> Contact : 9105689791

                <br>
            </div>
        </div>
    </div>
</div>