<div id="wrapper">
    <app-header></app-header>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Add Shipments<small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> &nbsp; Shipments
                        </li>
                        <li class="active">
                            <i class="fa fa-plus"></i> Add New
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">

                        <!-- {{data.value | json}} -->
                        <div class="form-group">
                            <label>Shipment Name</label>
                            <input class="form-control" formControlName="shipmentName" type='text' required>
                            <!-- <small *ngIf="dataFormControl.shipmentName.touched && dataFormControl.shipmentName==''" class="text-danger">Shipment name is
                              required</small> -->
                        </div>

                        <div class="form-group">
                            <label>Shipment Type</label>
                            <input class="form-control" data-toggle="modal" data-target="#selectCategory" formControlName="shipmentType" required>
                            <!-- <small class="text-danger" *ngIf="dataFormControl.shipmentType.touched || dataFormControl.shipmentType.invalid">Shipment type is
                              required</small> -->
                        </div>

                        <div class="form-group">
                            <label>Budget</label>
                            <input class="form-control" formControlName="budget" type='text' required>
                            <!-- <small class="text-danger" *ngIf="dataFormControl.shipmentType.touched || dataFormControl.shipmentType.invalid">Shipment type is
                              required</small> -->
                        </div>

                        <div class="form-group">
                            <label>Pick Up Address</label>
                            <div class=" input-group">
                                <span class="input-group-addon"> <i class="fa fa-map-marker" style="color: green; font-size: 20px;"></i></span>
                                <input class="form-control" type='text' name="fCollection" formControlName="fromCollection" ngx-google-places-autocomplete (onAddressChange)="AddressChange($event)" placeholder="Search Nearest Location" required>
                            </div>
                            <!-- <small class="text-danger" *ngIf="dataFormControl.fromCollection.touched || dataFormControl.fromCollection.invalid">Pick Up Address is
                                required</small> -->
                        </div>

                        <div class="form-group">
                            <label>Shiping Address</label>
                            <div class=" input-group">
                                <span class="input-group-addon"> <i class="fa fa-map-marker" style="color:red; font-size: 20px;"></i></span>
                                <input class="form-control" type='text' name="tDelivery" formControlName="toDelivery" ngx-google-places-autocomplete (onAddressChange)="AddressChange1($event)" placeholder="Delivery Postcode or Town" required>

                            </div>
                            <!-- <small class="text-danger" *ngIf="dataFormControl.toDelivery.touched || dataFormControl.toDelivery.invalid">Delivery Address is
                                required</small> -->
                        </div>
                        <label>Prefferd Delivery Timeframe</label>
                        <div class="form-group">
                            <label>Start Date</label>
                            <div class=" input-groupdate" id="datetimepicker3">
                                <input class="form-control" type="date" [min]="currentDate" name="startDate" formControlName="startDate" required>
                                <!-- <small class="text-danger" *ngIf="dataFormControl.startDate.touched || dataFormControl.startDate.invalid">Delivery Address is
                                    required</small> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label>End Date</label>
                            <div class=" input-groupdate" id="datetimepicker3">
                                <input class="form-control" type="date" [min]="currentDate" name="endDate" formControlName="endDate" required>
                                <!-- <small class="text-danger" *ngIf="dataFormControl.endDate.touched || dataFormControl.endDate.invalid">Delivery Address is
                                    required</small> -->
                            </div>
                        </div>

                        <!-- data Toggle -->
                        <div class="modal fade" id="selectCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Select A Category<span><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </span>
                                        </h2>
                                    </div>
                                    <div class="modal-body">
                                        <mat-grid-list cols="4" rowHeight="1:1  ">
                                            <mat-grid-tile *ngFor="let tile of tiles">
                                                <div class="category" data-dismiss="modal" (click)="closeModal(tile.id)">
                                                    <div class="img1" (mouseover)="changeColor(changeText=true,tile.id)" (mouseout)="changeColor(changeText=false,tile.id)">
                                                        <img [src]=tile.path style="width: 100%; height: 100%;">
                                                    </div>
                                                    <div>
                                                        <p style="text-align: center;">{{tile.name}}</p>
                                                    </div>
                                                </div>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Upload Shipment Image
                            </label>
                            <label class="btn btn-warning" style="margin-left: 10px;"><i
                                class="glyphicon glyphicon-search"></i> Browse
                                <input type="file" (change)="onFileSelect($event)" accept="image/*" required/>
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <button type="submit" class="btn btn-success" style="width: 100px" [disabled]=" !dataForm.valid ">Submit</button>
                            </div>

                            <div class="col-xs-6 text-center ">
                                <button type="reset " class="btn btn-danger " style="width: 100px ">Reset</button>
                            </div>
                        </div>



                    </form>
                </div>
            </div>


        </div>
    </div>
</div>