#hr {
    border-top: 1px solid;
    margin-top: 5px;
}

agm-map {
    height: 300px;
}

.tc {
    white-space: pre;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

nav {
    display: block
}

a {
    background-color: transparent
}

strong {
    font-weight: 700
}

small {
    font-size: 80%
}

img {
    border: 0
}

button,
input {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-earphone:before {
    content: "\e182"
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

img {
    vertical-align: middle
}

.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px
}

h4 {
    font-size: 18px
}

p {
    margin: 0 0 10px
}

small {
    font-size: 85%
}

.text-center {
    text-align: center
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul {
    margin-bottom: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-2,
.col-md-4,
.col-sm-12,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

@media (min-width:768px) {
    .col-sm-12,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {
    .col-md-2,
    .col-md-4 {
        float: left
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-2 {
        width: 16.66666667%
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=radio] {
    margin: 4px 0 0;
    line-height: normal
}

input[type=file] {
    display: block
}

.form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-group {
    margin-bottom: 15px
}

.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400
}

.radio input[type=radio] {
    position: absolute;
    margin-left: -20px
}

.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373
}

.btn {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143
}

.btn-default {
    color: #333;
    border-color: #ccc
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-sm {
    font-size: 12px;
    line-height: 1.5
}

.fade {
    opacity: 0
}

.collapse {
    display: none
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav>li,
.nav>li>a {
    position: relative;
    display: block
}

.nav>li>a {
    padding: 10px 15px
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li.active>a {
    border: 1px solid #ddd
}

.nav-pills>li {
    float: left
}

.nav-pills>li>a {
    border-radius: 4px
}

.nav-pills>li+li {
    margin-left: 2px
}

.nav-stacked>li {
    float: none
}

.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

@media (min-width:768px) {
    .navbar {
        border-radius: 4px
    }
}

@media (min-width:768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1)
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }
    .navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:768px) {
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media (min-width:768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand>img {
    display: block
}

@media (min-width:768px) {
    .navbar>.container .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media (min-width:768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }
    .navbar-nav>li {
        float: left
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

@media (min-width:768px) {
    .navbar-left {
        float: left!important
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-nav>li>a {
    color: #777
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse {
    border-color: #e7e7e7
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px
}

.thumbnail>img {
    margin-right: auto;
    margin-left: auto
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert>p {
    margin-bottom: 0
}

.alert-dismissable {
    padding-right: 35px
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel>.list-group {
    margin-bottom: 0
}

.panel>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0
}

.panel>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0
}

.panel-default {
    border-color: #ddd
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    background: 0 0;
    border: 0
}

.modal {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    transform: translateY(-25%)
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.clearfix:after,
.container:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
    clear: both
}

.pull-left {
    float: left!important
}

.hidden {
    display: none!important
}

@-ms-viewport {
    width: device-width
}

.visible-sm,
.visible-xs {
    display: none!important
}

@media (max-width:767px) {
    .visible-xs {
        display: block!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block!important
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.pull-left {
    float: left
}

.fa.pull-left {
    margin-right: .3em
}

.fa-search:before {
    content: "\f002"
}

.fa-user:before {
    content: "\f007"
}

.fa-cog:before {
    content: "\f013"
}

.fa-trash-o:before {
    content: "\f014"
}

.fa-clock-o:before {
    content: "\f017"
}

.fa-arrow-circle-o-up:before {
    content: "\f01b"
}

.fa-map-marker:before {
    content: "\f041"
}

.fa-pencil-square-o:before {
    content: "\f044"
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-comment:before {
    content: "\f075"
}

.fa-truck:before {
    content: "\f0d1"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-tachometer:before {
    content: "\f0e4"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-circle:before {
    content: "\f111"
}

.ion-image:before {
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ion-image:before {
    content: "\f147"
}

a {
    color: #4c84b9;
    outline: 0
}

body,
html {
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif
}

body {
    color: #555;
    font-size: inherit;
    -webkit-font-smoothing: antialiased
}

html {
    font-size: 62.5%
}

.page {
    min-height: 100%
}

.base-font {
    font-size: 1.2em
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap
}

.btn-default {
    color: #555;
    background-color: #fff;
    border-color: #c1c1c1
}

.btn-primary {
    color: #fff;
    background-color: #2fa4e7;
    border-color: #2fa4e7
}

.btn-success {
    color: #fff;
    background-color: #73a839;
    border-color: #73a839
}

.btn-danger {
    color: #fff;
    background-color: #c71c22;
    border-color: #c71c22
}

.btn {
    outline: 0!important
}

.btn-default {
    background: #e5e5e5;
    filter: none;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.btn-primary {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.btn-primary {
    background: #337ab7;
    filter: none;
    border: 0
}

.btn-success {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.btn-success {
    background: #259b24;
    filter: none;
    border: 0
}

.btn-danger {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.btn-danger {
    background: #ff5722;
    filter: none;
    border: 0
}

.btn {
    padding: 8px 12px;
    font-size: 1.2em;
    line-height: 1.4em;
    border-radius: 4px
}

.btn-sm {
    padding: 5px 10px;
    font-size: 1.0em;
    line-height: 1.4em;
    border-radius: 3px
}

.navbar {
    background: #0f4c8b;
    background-repeat: no-repeat;
    filter: none;
    box-shadow: 0 1px 10px transparent;
    -webkit-box-shadow: 0 1px 10px transparent;
    margin-bottom: 0
}

.navbar-brand {
    margin-left: 0!important;
    padding: 8px 15px 0 0
}

.navbar-default {
    border: none
}

.navbar-right {
    margin-right: 0!important
}

.navbar-toggle {
    border-color: #178acc!important
}

.page-header-a,
.page-header-btn,
.page-header-inbox-fa,
.page-header-phone-li {
    color: #fff!important
}

.page-header-a {
    padding: 15px 10px!important
}

.page-header-a,
.page-header-text {
    font-size: 1.2em
}

.page-header-btn,
.page-header-text-smaller {
    font-size: 1.0em
}

.page-header-badge {
    right: -7px
}

.page-header-badge {
    background-color: #d9534f;
    font-size: .9em;
    padding: 2px 5px;
    position: absolute;
    top: -5px
}

@media (max-width:991px) {
    .page-header-inbox {
        width: 20px
    }
}

.page-header-btn {
    background-color: #337ab7!important;
    margin-top: 8px;
    margin-left: 10px;
    padding: 6px 12px!important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.page-header-earphone {
    padding: 16px 5px 0 10px;
    width: 30px;
    height: 30px
}

.page-header-icon-bar {
    background-color: #fff!important
}

.page-header-inbox {
    position: relative
}

.page-header-inbox-fa {
    font-size: 1.6em!important;
    line-height: 0!important;
    position: relative;
    top: 3px
}

.page-header-inbox-fa-active {
    color: #fbae4b!important
}

.page-header-phone {
    padding-top: 10px
}

.page-header-text {
    line-height: 14px
}

.page-header-btn {
    font-size: 1.2em
}

.alert {
    font-size: 1.2em
}

.nav-tabs>li.active>a {
    color: #555;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-bottom-color: transparent
}

.help-block {
    font-size: 1.0em
}

@media (max-width:991px) {
    .navbar-brand {
        margin-left: 15px!important
    }
    .page-header-badge {
        font-size: 1.2em;
        font-weight: 400;
        margin: -7px 0 0 5px;
        right: auto;
        top: auto
    }
    .page-header-btn {
        font-size: 1.2em
    }
    .page-header-inbox-fa {
        top: 9px
    }
    .page-header-phone-li {
        clear: left
    }
    .page-header-text-smaller {
        padding-bottom: 10px
    }
    .page-header-btn {
        margin-right: 10px;
        margin-bottom: 10px
    }
}

@media (max-width:991px) and (min-width:768px) {
    .navbar-collapse {
        box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1)
    }
    .navbar-header,
    .navbar-nav,
    .navbar-nav li {
        float: none!important
    }
    .navbar-nav>li>a {
        padding-bottom: 10px;
        padding-top: 10px
    }
    .navbar-toggle {
        display: block
    }
}

@media (max-width:767px) {
    .navbar-collapse {
        border: none
    }
    .navbar-nav {
        margin: 0!important
    }
    .page-header-btn {
        font-size: 1.2em
    }
}

.navbar-toggle {
    border: 0;
    padding-top: 7px;
    padding-bottom: 6px
}

.navbar-toggle .icon-bar {
    width: 23px;
    height: 4px
}

.page-header-a {
    display: block
}

@media (min-width:992px) {
    .navbar-i {
        display: none
    }
    .navbar-i2 {
        display: inline-block;
        margin-right: 5px
    }
    .navbar-nav-header {
        display: none
    }
    .on-collapse {
        display: none!important
    }
    .page-header-phone-url {
        display: none
    }
}

@media (max-width:991px) {
    .dropdown-menu {
        background: #f3f3f3!important;
        font-size: 16px
    }
    .nav-container {
        padding-left: 0;
        padding-right: 0
    }
    .navbar-collapse {
        background: #f3f3f3!important;
        position: fixed;
        right: 0;
        top: 0;
        white-space: nowrap;
        z-index: 1002
    }
    .navbar-collapse.collapse {
        display: block;
        height: 100%!important;
        margin: 0;
        max-width: 440px;
        min-width: 161px;
        overflow-x: hidden!important;
        overflow-y: scroll!important;
        padding: 0;
        right: -100%;
        width: 80%
    }
    .navbar-i {
        color: inherit!important;
        font-size: 1.6em;
        margin-right: 10px
    }
    .navbar-i-on {
        color: #fbae4b!important
    }
    .navbar-left {
        border-bottom: 1px solid rgba(0, 0, 0, .1)
    }
    .navbar-nav {
        display: flex;
        flex-direction: column
    }
    .navbar-nav-a {
        color: rgba(0, 0, 0, .7)!important;
        font-size: inherit;
        line-height: normal!important;
        padding: 15px 10px!important
    }
    .navbar-nav-header {
        height: 50px;
        padding: 0 10px!important
    }
    .navbar-nav-header-back {
        color: #000;
        font-size: 3.5em;
        margin-top: 7.5px;
        opacity: .2;
        text-shadow: 0 1px 0 #fff
    }
    .navbar-nav-header-close {
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 4em;
        font-weight: 400;
        margin-top: 5px
    }
    .navbar-nav-header-text {
        font-size: 1.6em;
        font-weight: 700;
        line-height: 50px;
        margin: 0;
        text-align: center
    }
    .navbar-nav-li {
        border-top: 1px solid rgba(0, 0, 0, .1)
    }
    .navbar-right {
        margin-top: 48px
    }
    .no-collapse {
        display: none!important
    }
    .page-header-collapsed-icon {
        margin-top: 11px
    }
    .page-header-collapsed-badge {
        font-size: 9px;
        margin: -15px 0 0 11px
    }
    .page-header-collapsed-badge-top {
        right: -8px;
        top: 14px
    }
    .page-header-earphone {
        margin: 28px 0 0 10px
    }
    .page-header-phone {
        margin-top: 20px
    }
    .page-header-phone-a {
        color: rgba(0, 0, 0, .7)!important
    }
    .page-header-phone-text {
        display: none
    }
    .page-header-text,
    .page-header-text-smaller {
        color: rgba(0, 0, 0, .7)!important;
        font-size: 1.6em;
        padding: 0
    }
    .page-header-text-smaller {
        margin-bottom: 20px
    }
    .page-header-span {
        font-size: 1.4em
    }
}

@media (max-width:767px) {
    .nav-container {
        padding-left: 15px!important;
        padding-right: 15px!important
    }
    .navbar-left {
        border-bottom: none
    }
}

.myshiply-tab-wrapper {
    margin-top: -60px;
    padding-top: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cacaca;
    background-color: #f9f9f9
}

.myshiply-tab-wrapper .myshiply-nav-link {
    font-size: 1.2em;
    line-height: 0.9em;
}

.myshiply-tab-wrapper .fa {
    font-size: 1.4em;
    color: #6c6d6f;
    padding-right: 5px
}

.myshiply-tab-wrapper .container {
    margin-top: 0;
    padding-top: 20px
}

.myshiply-tab-wrapper .nav-tabs {
    border-bottom: none;
    float: right
}

.myshiply-tab-wrapper .myshiply-nav-link-a {
    border-color: #cfcfcf;
    border-bottom-color: #cacaca;
    background-color: #e7e7e7;
    color: #555;
    margin-right: 20px;
    min-width: 156px;
    height: 42px;
    text-align: center
}

.myshiply-tab-wrapper .myshiply-nav-link-a:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.myshiply-tab-wrapper .myshiply-nav-link-a * {
    display: inline-block;
    vertical-align: middle
}

.myshiply-tab-wrapper .nav-tabs>li.active>.myshiply-nav-link-a {
    border-color: #cacaca;
    background-color: #fff;
    border-bottom-color: transparent
}

.myshiply-tab-wrapper .nav-tabs>li.active>.myshiply-nav-link-a .fa {
    color: #e0944a
}

.myshiply-tab-wrapper .myshiply-lasta {
    margin-right: 0
}

.myshiply-tab-wrapper .msg-counter {
    position: absolute;
    left: 140px;
    bottom: 20px;
    font-size: 3.2em;
    color: #d9534f;
    z-index: 1
}

.myshiply-tab-wrapper .msg-counter-number {
    position: absolute;
    left: 141px;
    bottom: 26px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    width: 25px;
    z-index: 2
}

@media (max-width:767px) {
    .myshiply-tab-wrapper .myshiply-nav-link-a {
        min-width: inherit;
        margin-right: 10px
    }
    .myshiply-tab-wrapper .myshiply-nav-link {
        display: none
    }
    .myshiply-tab-wrapper .msg-counter {
        left: 40px;
        bottom: 25px;
        font-size: 2.5em
    }
    .myshiply-tab-wrapper .msg-counter-number {
        left: 39px;
        bottom: 28px;
        font-size: 1.0em
    }
}

@media (min-width:992px) {
    .va {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center
    }
    .ta {
        justify-content: center
    }
}

@media (device-height:568px) and (device-width:320px) and (-webkit-min-device-pixel-ratio:2) {
    input {
        font-size: 16px!important
    }
}

@media (device-height:667px) and (device-width:375px) and (-webkit-min-device-pixel-ratio:2) {
    input {
        font-size: 16px!important
    }
}

@media (device-height:736px) and (device-width:414px) and (-webkit-min-device-pixel-ratio:3) {
    input {
        font-size: 16px!important
    }
}

.navbar-toggle {
    margin-right: 6px;
    margin-left: 15px
}

.form-control,
.list-group-item,
.panel,
.panel-default {
    border-color: #cacaca!important
}

.modal-footer,
.modal-header {
    border-color: #cacaca
}

.nav-tabs>li.active>a {
    border: 1px solid #cacaca
}

.panel-default>.panel-heading {
    color: #555
}

.nav-tabs>li>a,
.panel,
.thumbnail {
    border-radius: 2px
}

.alert,
.modal-content {
    border-radius: 2px
}

.form-control {
    height: 40px
}

.btn,
.form-control {
    border-radius: 3px
}

.panel-default,
.thumbnail {
    border-color: #cacaca
}

.form-control,
.modal-content,
.panel {
    box-shadow: none
}

.modal-content {
    border: 0
}

:focus {
    outline: 0!important
}

.custom-button input[type=radio] {
    box-shadow: none!important;
    margin-right: 5px
}

.custom-button .label-checkbox {
    display: inline-block;
    float: left;
    margin-right: 8px;
    margin-bottom: 3px;
    margin-top: 0
}

.custom-button input[type=radio] {
    display: none
}

.custom-button input[type=radio]+label .label-checkbox {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    outline: 0;
    background: 0 0;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cacaca;
    line-height: 15px
}

.custom-button .radio label {
    padding-left: 0
}

.custom-button .radio-inline {
    padding-left: 0;
    padding-right: 20px
}

input[type=text] {
    box-shadow: none!important;
    -webkit-appearance: none;
    -moz-appearance: textfield
}

.panel-default>.panel-heading .fa {
    font-size: 1.4em;
    color: #2071c5;
    padding-right: 5px
}

.panel-default>.panel-heading>strong {
    font-size: 1.2em
}

.active-deliveries-panel-wrapper .nav>li span {
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 2
}

.active-deliveries-panel-wrapper .nav>li>a .fa {
    font-size: 1.6em;
}

.active-deliveries-panel-wrapper .panel .panel-heading {
    background-color: #f4f4f4
}

.active-deliveries-panel-wrapper .list-group-item {
    padding: 10px 10px 0;
    overflow: hidden
}

.active-deliveries-panel-wrapper .thumbnail {
    border-radius: 0;
    border-color: #cacaca;
    height: 109px;
    width: 144px;
    text-align: center;
    padding: 0;
    font: 0/0 a;
    margin-bottom: 0
}

.active-deliveries-panel-wrapper .thumbnail:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.active-deliveries-panel-wrapper .thumbnail img {
    display: inline-block;
    vertical-align: middle;
    font: 16px/1
}

.active-deliveries-panel-wrapper .nav.nav-pills>li {
    margin-top: 0
}

.active-deliveries-panel-wrapper .nav.nav-pills>li>a {
    height: 48px;
    padding: 0;
    padding-left: 15px;
    color: #555
}

.active-deliveries-panel-wrapper .nav.nav-pills li a:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.active-deliveries-panel-wrapper .nav.nav-pills>li>a div {
    display: inline-block;
    vertical-align: middle
}

.active-deliveries-panel-wrapper .nav.nav-pills>li>a .fa {
    width: 25px;
    display: inline-block;
    vertical-align: middle
}

.active-deliveries-panel-wrapper .nav.nav-pills>li>a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2
}

.active-deliveries-panel-wrapper .info-section {
    margin-left: -20px;
    display: table
}

.btn-ebay {
    padding: 5px 7px!important
}

.btn-ebay {
    color: #fff
}

.button-listing-image-file-i {
    font-size: 1.0em;
    margin-right: 3px
}

.info-section .info-address .fa {
    font-size: 1.4em
}

.info-section .heading {
    padding-bottom: 10px;
    padding-top: 10px
}

.info-section .heading a {
    color: #4c84b9
}

.info-section .info-address {
    margin-bottom: 10px
}

.info-section .info-address>* {
    vertical-align: middle
}

.info-section .info-address span {
    line-height: 1.2;
    display: table-cell
}

.info-section .info-address .fa {
    padding-right: 10px;
    display: table-cell
}

.help-block {
    color: #ed1c24;
    font-size: 1.0em
}

.alert,
.form-group label,
.info-section .heading a,
.info-section .info-address span,
.section-timer-expiry {
    font-size: 1.2em
}

.section-timer .time {
    font-size: 2.4em
}

.section-timer .fa {
    font-size: 4em
}

.section-timer span {
    font-size: 1.4em
}

.upload-dropzone {
    border: 2px dashed #ccc;
    color: #ccc;
    height: 109px;
    text-align: center;
    width: 144px
}

.upload-dropzone-btn {
    margin-top: 10px
}

.upload-dropzone-text {
    color: #555;
    font-size: 1.2em;
    margin: 10px 10px 0
}

.upload-drop-zone-wrapper {
    max-height: 109px
}

.btn.btn-default {
    border-color: #cacaca!important
}

.dropdown-menu {
    background-color: #fff!important;
    background-image: none!important
}

#ConfirmDeleteModal .modal-body p {
    font-size: 1.2em
}

.confirm-delete-modal {
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    transform: translateX(-50%) translateY(calc(-50% - .5px))!important;
    -webkit-font-smoothing: antialiased;
    max-width: 500px;
    margin-top: 0
}

@media (max-width:680px) {
    .confirm-delete-modal {
        margin-top: auto;
        width: 95%;
        position: relative!important;
        top: 0!important;
        left: 0!important;
        transform: translate(0)!important;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width:1200px) {
    .section-timer-expiry {
        padding: 0 40px
    }
}

@media (max-width:1200px) {
    .upload-dropzone {
        width: auto
    }
}

@media (min-width:992px) {
    .active-deliveries-panel-wrapper .list-group-item>.va {
        margin-top: -10px
    }
    .active-deliveries-panel-wrapper .nav {
        margin-right: -11px
    }
    .active-deliveries-panel-wrapper .nav>li {
        border-bottom: 1px solid #cacaca;
        border-left: 1px solid #cacaca
    }
    .active-deliveries-panel-wrapper li.delete-li {
        border-bottom: none;
        padding-bottom: 1px
    }
}

@media (max-width:991px) {
    .active-deliveries-panel-wrapper .thumbnail {
        margin-top: 0;
        margin-bottom: 10px
    }
    .active-deliveries-panel-wrapper .nav {
        margin-left: -10px;
        margin-right: -11px;
        margin-top: 0
    }
    .section-timer-expiry {
        padding: 18px 0 10px
    }
    .active-deliveries-panel-wrapper .nav>li {
        float: left;
        width: 33.3%;
        border-left: 1px solid #cacaca;
        border-top: 1px solid #cacaca
    }
    .active-deliveries-panel-wrapper .nav>li:first-child {
        border-left: none
    }
    .active-deliveries-panel-wrapper .nav.nav-pills>li>a {
        text-align: center
    }
    .section-timer {
        margin-left: -50px;
        padding: 8px 0 0
    }
    .info-section .heading {
        padding-top: 0
    }
    .upload-dropzone {
        width: 144px
    }
    .upload-drop-zone-wrapper {
        margin-bottom: 10px
    }
}

@media (max-width:767px) {
    .active-deliveries-panel-wrapper .thumbnail {
        margin: 0 auto;
        margin-bottom: 10px
    }
    .active-deliveries-panel-wrapper .info-section {
        margin-left: 0;
        display: block
    }
    .info-section .heading {
        text-align: center;
        width: 100%
    }
    .info-section .info-address {
        text-align: center;
        display: table;
        margin-left: auto;
        margin-right: auto
    }
    .section-timer-expiry {
        padding-top: 0
    }
    .section-timer {
        padding: 0 0 8px;
        text-align: center;
        margin: 0
    }
    .section-timer br {
        display: none
    }
    .section-timer>* {
        vertical-align: middle
    }
    .section-timer .time {
        display: inline;
        margin-left: 5px
    }
    .section-timer .fa {
        padding-right: 5px
    }
    .section-timer-expiry {
        margin: 0 auto;
        text-align: center
    }
    .upload-dropzone {
        margin-left: auto;
        margin-right: auto
    }
}

@media (max-width:767px) {
    .info-section .heading {
        text-align: center;
        width: 100%
    }
    .info-section .info-address {
        text-align: center;
        display: table;
        margin-left: auto;
        margin-right: auto
    }
    .section-timer-expiry {
        margin: 0 auto;
        text-align: center
    }
}

@media (max-width:480px) {
    .active-deliveries-panel-wrapper .nav>li {
        float: inherit!important;
        width: 100%;
        border-left: 0
    }
    .active-deliveries-panel-wrapper .nav>li a {
        padding-right: 0;
        padding-left: 0
    }
    .active-deliveries-panel-wrapper .nav>li>a .fa {
        margin-right: 5px;
        width: inherit
    }
}

@media (min-width:992px) {
    .va {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center
    }
    .ta {
        justify-content: center
    }
}

@media (max-width:639px) {
    .active-deliveries-panel-wrapper .nav.nav-pills>li a {
        height: 43px;
        padding-left: 0
    }
}

@media (max-width:767px) {
    .btn-view-quote {
        width: 100%
    }
    .upload-dropzone-text {
        display: none
    }
    .upload-dropzone {
        height: auto
    }
}

.fa-envelope {
    color: #0286cd
}

.confirm-vertical-modal {
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    max-width: 500px;
    margin-top: 0
}

@media (max-width:680px) {
    .confirm-vertical-modal {
        width: 95%;
        position: fixed!important;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%, -50%)!important;
        margin-left: auto;
        margin-right: auto
    }
}

.custom-button .label-checkbox {
    margin-bottom: 4px;
    margin-top: 2px
}