<div id="wrapper">
    <app-header></app-header>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Manage Shipments<small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> &nbsp; View Shipments
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <label class="btn btn-info ">
        <a [routerLink]="['/customer/shipment/create']" routerLinkActive="active" ><i class="fa fa-plus"></i><span class=""> Add Shipment</span></a>
     </label>
                    <br>
                    <br>
                    <div class="table-responsive">
                        <!-- <table  class="table table-striped table-bordered table-condensed " cellspacing="0" width="100%">
           <thead >
              <tr>
                 <th>Shipment Code</th>
                 <th>Shipment Name</th>
                 <th>Shipment Type</th>
                 <th class="text-center">Operations </th>
              </tr>
           </thead>
           <tbody>    
              <tr *ngFor="let i of data" (click)="onShipmentSelect(i)">
                 <td style="padding-top:12px;">{{i.shipmentCode}}</td>
                 <td style="padding-top:12px;">{{i.shipmentName}}</td>
                 <td style="padding-top:12px;">{{i.shipmentType}}</td>
                 <td class="text-center">
                    <button class="btn btn-success btn-sm" style="width: 80px"><i class="fa fa-eye"> </i>&nbsp;View</button>
                 </td>
                 
              </tr>
              
           </tbody>
        </table> -->

                    </div>
                    <table mat-table [dataSource]="data" class="mat-elevation-z8 center">

                        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef> Item </th>
                            <td mat-cell *matCellDef="let data" (click)="onShipmentSelect(element)">
                                <img class="myImg" [src]="data.imgURL" alt="Image"> {{data.shipmentName}}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="collection">
                            <th mat-header-cell *matHeaderCellDef> Collection </th>
                            <td mat-cell *matCellDef="let data"> {{data.fromCollection}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="delivery">
                            <th mat-header-cell *matHeaderCellDef> Delivery </th>
                            <td mat-cell *matCellDef="let data"> {{data.toDelivery}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let data"> {{data.endDate}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>